.draw-card-container {
  height: 60px;
}

.draw-card-button {
  width: clamp(120px, 30vw, 200px);
  height: clamp(50px, 15vh, 80px);
  font-size: clamp(1rem, 3vw, 1.5rem);
  cursor: pointer;
  background-color: rgb(0, 140, 255);
  color: white;
  border-radius: 20px;
  font-weight: 300;
}
